
.DS_Store


Results/*
!Results/.gitkeep

Pictures/Positive/*
Pictures/Negative/*
Pictures/PicsPrac/*
Pictures/PicsOnline/*

!Pictures/Positive/.gitkeep
!Pictures/Negative/.gitkeep
!Pictures/PicsPrac/.gitkeep
!Pictures/PicsOnline/.gitkeep